<template>
  <div class="projects">
    <div class="proj">
      <h1>My projects</h1>
      <h2>If you are interested in my work,</h2>
      <h2>make sure to check my latest projects.</h2>
      <ul v-if="posts && posts.length">
        <li v-for="post of posts" v-bind:key="post">
          <p><strong>{{post.title}}</strong></p>
          <p>{{post.body}}</p>
        </li>
      </ul>

      <ul v-if="errors && errors.length">
        <li v-for="error of errors" v-bind:key="error">
          {{error.message}}
        </li>
      </ul>
    </div>
    <div class="grid">
      <b-card-group deck>
        <projects msg1="<b>Lukas Audzevicius' website</b>"
        msg2="A website created as a project to develop my own portfolio."
        img src='../../assets/rsz_ws.png'
        idm="pro1"
        bod="'A website created as a project to develop my own portfolio'.

        This project was created with Vue CLI 3.3. It was built on a Debian 9 O.S. using Visual Studio Code as the main tool.

        Main languages used:
            - Vue
            - JavaScript
            - HTML" />

        <projects msg1="<b>Coming soon</b>"
        msg2="Coming soon"
        img="http://choosedorchester.org/wp-content/uploads/2017/07/featured-coming-soon.jpg"
        idm="pro2"
        bod="No information available."/>

        <projects msg1="<b>Coming soon</b>"
        msg2="Coming soon"
        img="http://choosedorchester.org/wp-content/uploads/2017/07/featured-coming-soon.jpg"
        idm="pro3"
        bod="No information available."/>
      </b-card-group>
      <b-card-group deck>
        <projects msg1="<b>Coming soon</b>"
        msg2="Coming soon"
        img="http://choosedorchester.org/wp-content/uploads/2017/07/featured-coming-soon.jpg"
        idm="pro4"
        bod="No information available."/>

        <projects msg1="<b>Coming soon</b>"
        msg2="Coming soon"
        img="http://choosedorchester.org/wp-content/uploads/2017/07/featured-coming-soon.jpg"
        idm="pro5"
        bod="No information available."/>

        <projects msg1="<b>Coming soon</b>"
        msg2="Coming soon"
        img="http://choosedorchester.org/wp-content/uploads/2017/07/featured-coming-soon.jpg"
        idm="pro6"
        bod="No information available."/>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import Projects from '@/components/Projects.vue'
import axios from 'axios'

export default {
  name: 'work',
  data() {
    return {
      posts: [],
      errors: []
    }
  },
  components: {
    Projects
  },
  methods: {

  },
  computed:{ 

  },
  mounted: function() {
    axios.get('http://jsonplaceholder.typicode.com/posts').then(response => { 
      this.posts = response.data;
      console.log
    })
    .cath(e => {
      this.errors.push(e)
    });
  }
}
</script>

<style scoped lang="scss">
.proj{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 3% 10%;
}
.grid {
  background-image: url('~@/assets/txtbck.jpg');
  padding: 2% 10% 4% 10%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: left;
  margin-top: 252px;
  white-space: pre-line;
}
</style>
